:root{
  --white: hsl(0, 0%, 100%);
  --slate-white300: hsl(212, 45%, 89%);
  --slate-white500: hsl(216, 15%, 48%);
  --slate-white900: hsl(218, 44%, 22%);
  --font-size15: 1.0625em;
  --font-weight400: 400;
  --font-weight700: 700;
  --font-brand: "Outfit", sans-serif;
  --mobile-size: 375px;
  --desktop-size: 1024px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
      background-color: var(--slate-white300);
  }

  .text-container > span:nth-child(1){
    font-size: larger;
    display: block;
  }

.container{
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--white);
    border-radius: 30px;
    padding: 5% 1%;
    margin: 10% auto;
    box-shadow: 0 0 9px black;
  }
  .qr-code-container > img{
    height: 50%;
    width: 95%;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
  }
  .text-container > span{
    text-align: center;
    margin: -35px 5%;
    font-family: var(--font-brand);
    font-weight: var(--font-weight700);
    padding: 2em 1.2em;

  }
  
  .text-container > span:nth-child(2){
    color: var(--slate-white900);
    font-size: var(--font-size15);
    display: block;
  }


  @media (min-width: 1024px)
  {
    .container{
      height: 95vh;
      width: 40vw;
    }
    
  }